<div style="background-color: rgb(252, 252, 252);">
    <style>
        * {
            font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        }
    </style>
    <div style="width: 500px;margin:auto;display: flex;padding: 1em 0;">
        <img style="width: 200px;object-fit: contain;"
            src="https://firebasestorage.googleapis.com/v0/b/gran-foro.appspot.com/o/6e8d03522816c0780094fad2469007ed.png?alt=media&token=5197e7bb-e404-4148-814e-a6defba0e4d3" />
    </div>
    <div style="margin: auto;display: flex;">
        <div
            style="width: 400px;display: block;margin:auto;padding:56px;border: 1px solid rgb(214, 214, 214);background-color: white;border-radius: 1em;">
            <img style="width: 50%;object-fit: contain;margin: 8px auto;display: flex;"
                src="https://firebasestorage.googleapis.com/v0/b/gran-foro.appspot.com/o/planicon.png?alt=media&token=a58851c6-085f-4896-a469-3f5600efb767" />
            <br />
            <span style="color:black;font-size: 20px;font-weight: 600;display: block;margin: 0.5em 0;">
                Acabas de comprar un ticket para el evento {{name}}</span>
            <br />
            <span style="margin: 16px 0;color: rgb(170, 170, 170);font-size: 16px;line-height: 1.7em;display: block;">
                {{indications}}
            </span>
            <span style="margin: 16px 0;color: rgb(170, 170, 170);font-size: 16px;line-height: 1.7em;display: block;">
                {{description}}
            </span>
            <br />
            <span style="color:black;;display: block;margin: 1em 0;font-size: 18px;font-weight: 600;margin: 1em 0;">
                Quiero ir a ver el evento
            </span>
            <br />
            <a style="text-decoration: none;border-radius: 1em;cursor: pointer;outline:none;background-color: #3590f3;color: white;border: 0;padding: 12px 24px;font-size: 16px;"
                href="{{link}}">
                Ver evento
            </a>
        </div>
    </div>
</div>